@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 1</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="2500000">2500000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 10000 TL </div>
                                    <div class="status-number"> 76% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="85">85</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">85% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 85% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="26">26</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="276">276</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">56% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 57% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 2</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="89000">89000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 89%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">89% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 1000000 TL </div>
                                    <div class="status-number"> 89% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="72">72</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 72%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">72% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 85% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="47">47</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="144">144</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 10%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">10% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 10% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 3</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="1500000">1500000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">100% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 1500000 TL </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="96">96</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 96%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">96% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 96% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="122">122</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="15">15</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 5%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">5% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 5% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 4</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="2500000">2500000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 10000 TL </div>
                                    <div class="status-number"> 76% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="85">85</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">85% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 85% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="26">26</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="276">276</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">56% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 57% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 5</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="2500000">2500000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 10000 TL </div>
                                    <div class="status-number"> 76% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="85">85</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">85% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 85% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="26">26</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="276">276</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">56% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 57% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">PROJE - 6</span>
                    <span class="caption-helper">A Projesi Bla Bla Bla...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="2500000">2500000</span>
                                        <small class="font-green-sharp">TL</small>
                                    </h3>
                                    <small>KULLANILAN BÜTÇE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Toplam Bütçe 10000 TL </div>
                                    <div class="status-number"> 76% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="85">85</span>
                                    </h3>
                                    <small>PROJE DURUMU</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">85% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> İLERLERME </div>
                                    <div class="status-number"> 85% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="26">26</span>
                                    </h3>
                                    <small>PERSONEL SAYISI</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">100% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Projede Çalışan Personel </div>
                                    <div class="status-number"> 100% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="276">276</span>
                                    </h3>
                                    <small>KALAN SÜRE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">56% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> Proje Bitimine Kalan Süre </div>
                                    <div class="status-number"> 57% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  