@{
    ViewData["Title"] = "Save";
}
@model ProjectDetailDto

<form class="form-horizontal" id="submit_form" novalidate="novalidate" asp-action="SaveProjectDetailEdit" method="post" asp-controller="Projects">

    <h3 class="block">Provide your profile details</h3>
    <div class="form-group">
        <label class="control-label col-md-3">
            Fullname
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="fullname">
            <span class="help-block"> Provide your fullname </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            Phone Number
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="phone">
            <span class="help-block"> Provide your phone number </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            Gender
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <div class="radio-list">
                <label>
                    <input type="radio" name="gender" value="M" data-title="Male"> Male
                </label>
                <label>
                    <input type="radio" name="gender" value="F" data-title="Female"> Female
                </label>
            </div>
            <div id="form_gender_error"> </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            Address
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="address">
            <span class="help-block"> Provide your street address </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            City/Town
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="city">
            <span class="help-block"> Provide your city or town </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Country</label>
        <div class="col-md-4">
            <select name="country" id="country_list" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option value=""></option>
            </select>
            <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: auto;">
                <span class="selection">
                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-country_list-container">
                        <span class="select2-selection__rendered" id="select2-country_list-container">
                            <span class="select2-selection__placeholder">Select</span>
                        </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                    </span>
                </span><span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Remarks</label>
        <div class="col-md-4">
            <textarea class="form-control" rows="3" name="remarks"></textarea>
        </div>
    </div>
</form>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <a href="javascript:;" class="btn default button-previous disabled" style="display: none;">
                <i class="fa fa-angle-left"></i> Back
            </a>
            <a href="javascript:;" class="btn btn-outline green button-next">
                Continue
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="javascript:;" class="btn green button-submit" style="display: none;">
                Submit
                <i class="fa fa-check"></i>
            </a>
        </div>
    </div>
</div>
