

@{
    ViewData["Title"] = "Index";
}
    <table class="table table-striped">
        <thead>
            <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Category</td>
            <td>CreatedDate</td>
            <td>Actions</td>
            </tr>
        </thead>
        <tbody>

           

        </tbody>



    </table>


